<%- include('../partials/header') %>
    <h1>New Product</h1>
    <form action="/products" method="post">
        <label for="">name</label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="">price</label>
        <input type="text" name="price">
        <br>
        <br>
        <label for="">category</label>
        <select name="category">
            <option value="">--Please choose an option--</option>
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
            <option value="oils">oils</option>
            <option value="bimos">bimos</option>
        </select>
        <br>
        <br>
        <button>submit</button>
    </form>
<%- include('../partials/footer') %>
